@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Faustina', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  background-color: #000 ;
}

#page-logo a {
  padding: 10px;
  color:rgb(194, 194, 192);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px rgb(230, 230, 210);
}


header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: rgb(181, 177, 177);
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 2px 2px 4px rgb(209, 209, 205);
}

header nav a:hover {
  color: rgb(184, 184, 184);
  background-color: rgb(255, 255 0);
}


#hero {
  height: 90vh;
  background-image: url("images/places/baku.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  width: 600px;
  background-color: rgba(57, 47, 47, 0.7);
  box-shadow: 2px 4px 8px rgb(67, 67, 67);
  border-radius: 15px;
  text-align: center;
  padding: 30px 0;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 35px;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(202, 202, 195);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 235, 0);
}

#highlights {
  background: linear-gradient(0deg, rgb(24, 24, 24), rgb(164, 164, 164));
  text-align: center;
}

#highlights h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  font-weight: 700;
  padding: 20px;
}


.destinations {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}
.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(225, 224, 224);
  margin: 20px 0;
}

.destination img {
  height: 300px;
  width: 100%;
  box-shadow: 4px 6px 12px rgb(206, 206, 206);
  border-radius: 15px;
  object-fit: cover;
}


footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(124, 124, 124));
  padding: 10px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  width: 50px;
  font-size: 50px;
  margin: 50px;
  color: white;
}
